body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbe0db;
}

header {
    background-color: #33f30d;
    color: rgb(14, 18, 240);
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #444;
}

nav a {
    color: rgb(247, 240, 246);
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #f00909;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(231, 227, 231);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

