 body {
    font-family: Arial, sans-serif;
    background-color: #84f046;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 150px;
    margin-top: 20px;
}

h1 {
    color: #333;
}

.description {
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
    color: #555;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #0056b3;
}

footer {
    background-color: #080807;
    color: rgb(243, 239, 239);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
} 


        